<div style="width: 50%; min-width: 300px; padding: 20px; margin:auto;">

    <form class="d-flex" role="search">
        <!-- <a class="btn btn-primary" href="#" role="button">Log in</a> -->
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search item</button>
    </form>
</div>