<h1 style="border-bottom:solid rgba(27, 69, 159, 0.933); color: rgb(210, 179, 3); margin: auto; margin-bottom: 50px; width: fit-content;text-align: center;padding-inline: 5px;margin-top:10px;">
    <%=title%>
</h1>