<%-include("partials/navbar.ejs")%>
    <%-include("partials/title.ejs",{title:"JEWELLERY STORE"})%>
        <img src="https://www.pexels.com/photo/woman-in-white-tube-dress-14587335/" alt="">
        <div class="container" style="width: 100%;height: 500px;background-image:url('https://www.pexels.com/photo/pearl-necklace-on-display-12999499/');border:solid green 1px;background-size: 100% 500px;">
            <!-- <div style="width: 400px;height: 500px;border:solid black 2px; background-size: 400px 500px;background-image:url('https://www.pexels.com/photo/pearl-necklace-on-display-12999499/');">
            </div> -->
            <!-- <div style="width:100%; display: flex;justify-content: space-around;">
                <a class="btn btn-primary" href="/login" role="button">Log in</a>
                <a class="btn btn-primary" href="/createAccount" role="button">Create Account</a>
                <a class="btn btn-primary" href="/addProduct" role="button">Add Product</a>
                <a class="btn btn-primary" href="/orderstatus" role="button">Order status</a>
                <a class="btn btn-primary" href="/viewcart" role="button">View Cart</a>
                <a class="btn btn-primary" href="/query" role="button">Chat us</a>
                <a class="btn btn-primary" href="/CustomerProfile" role="button">View Profile</a>
            </div> -->
        </div>
        </body>
        <%-include("partials/footer.ejs")%>

            </html>