<%-include("partials/navbar.ejs")%>
    <%-include("partials/title.ejs",{title:"JEWELLERY STORE"})%>
        <div class="container" style="min-height: 80vh"></div>
        <a class="btn btn-primary" href="/login" role="button">Log in</a>
        <a class="btn btn-primary" href="/createAccount" role="button">Create Account</a>

        </body>
        <%-include("partials/footer.ejs")%>

            </html>